@tailwind base;
@tailwind components;
@tailwind utilities;

.rainbow-text {
  background: linear-gradient(
    to right,
    rgb(181, 89, 89),
    rgb(220, 146, 7),
    rgb(186, 186, 9),
    rgb(68, 193, 68),
    rgb(70, 70, 191),
    indigo,
    rgb(221, 114, 221)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

/* Custom scrollbar for the carousel */
.carousel-scrollbar::-webkit-scrollbar {
  width: 8px; /* Thinner scrollbar */
  height: 8px; /* Thinner scrollbar */
}

.carousel-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(81, 76, 76); /* Red color for the scrollbar thumb */
  border-radius: 10px; /* Rounded edges */
}

.carousel-scrollbar::-webkit-scrollbar-track {
  background-color: transparent; /* Transparent track */
}

